<section class="achievmentsSection hide">
    <span class="closeAchievements">X</span>
    <div>Your Achievements</div>
    <ul>
        <li>Happy: <span class="happyAmountSpan"></span></li>
        <li>Neutral: <span class="neutralAmountSpan"></span></li>
        <li>Surprised: <span class="surprisedAmountSpan"></span></li>
        <li>Disgusted: <span class="disgustedAmountSpan"></span></li>
        <li>Fearful: <span class="fearfulAmountSpan"></span></li>
        <li>Sad: <span class="sadAmountSpan"></span></li>
        <li>Angry: <span class="angryAmountSpan"></span></li>
    </ul>
</section>