<section>
  <span id="count">0</span> user(s) online
<ul id="messages"></ul>
<span class="feedback"></span>
    <form id="form" action="">
      <input id="input" autocomplete="off"/><button>Send</button>
    </form>
    </section>