<%- include('../partials/head') %>
<body>
    <header>
        <nav>
          <h1>Chose your emotion or use the camera</h1> 
          <ul>
            <li class="happy">Happy</li>
            <li class="neutral">Neutral</li>
            <li class="surprised">Surprised</li>
            <li class="disgusted">Disgusted</li>
            <li class="fearful">Fearful</li>
            <li class="sad">Sad</li>
            <li class="angry">Angry</li>
          </ul>
        </nav>
    </header>
    <div class="achievmentsBtn">
      <img src="images/achievments.png" alt="achievemnt image"/>
      <p>Achievements</p>
    </div>
    <h1>Your emotion is: <span id="emotion">neutral</span></h1>
    <p class="result"></p>
     <main id="main">
       <%- include('../partials/achievements')%>
       <button id="captureEmotion">Pause Video</button>
       <button id="playEmotion">Play Video</button>
      <video id="video" width="500" height="350" autoplay muted playsinline></video>
      <%- include('../partials/form') %>
      </main>
</body>
</html>
